

  .home-button {
    text-decoration: none;
    font-weight: bold;
    color: #333;
    background-color: #e2d8ff;
    padding: 8px 14px;
    border-radius: 6px;
  }
  
  .home-button:hover {
    background-color: #d1cfff;
  }
  